* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.container {
    display: grid;
    gap: 0;
    grid-template-rows: 0.67fr 5fr;
    grid-template-columns: 1fr 6fr;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: rgb(228, 191, 123);
    grid-area: 1 / 1 / 3 / 2;
    font-weight: 500;
    min-height: 100vh;
    width: clamp(180px, 20vw, auto);
}

header {
    background-color: rgb(240, 240, 240);
    grid-area: 1 / 2 / 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.363);
    z-index: 1;
}

main {
    background-color: rgb(211, 211, 211);
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 2rem 1rem;
    gap: 1rem;
}

ul li {
    font-size: max(1.33vw, 1.16rem);
    margin: 10px 0px 10px 5.5vw;
}

ul > h3 {
    margin: 30px 0px 25px 0px;
    padding: 5px 0px 5px 3.3vw;
    font-size: max(1.75vw, 1.33rem);
    background-color: rgba(0, 0, 0, 0.199);
}

.home {
    list-style-image: url('./SVG/home3.svg');
}

.profile {
    list-style-image: url('./SVG/profile.svg');
}

.messages {
    list-style-image: url('./SVG/pencil.svg');
}

.history {
    list-style-image: url('./SVG/alarm.svg');
}

.tasks {
    list-style-image: url('./SVG/file-empty.svg');
}

.communities {
    list-style-image: url('./SVG/office.svg');
}

.settings {
    list-style-image: url('./SVG/cog.svg');
    margin-top: 40px;
}

.support {
    list-style-image: url('./SVG/bug.svg');
}

.privacy {
    list-style-image: url('./SVG/lock.svg');
}

.htop {
    display: flex;
    justify-content: space-between;
}

.hbot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 12px;
}

.searchbar {
    margin: 20px;
    margin-left: 32px;
}

.searchbar input {
    width: 33vw;
    height: 30px;
    margin-top: 12px;
    padding-left: 10px;
    border-radius: 14px;
    border: none;
    font-size: 24px;
}

.searchbar img {
    margin-right: 10px;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    margin-bottom: 20px;
}

#profile-icon {
    width: 42px;
    border-radius: 21px;
    border: 1px rgba(199, 199, 199, 0.171);
    margin-top: 28px;
    margin-right: 12px;
}

.user-profile .username {
    font-size: 16px;
    margin-top: 30px;
    font-weight: 500;
}

#notif-icon {
    margin-top: 24px;
    margin-right: 12px;
}

.welcome-user {
    display: flex;
}

.welcome-user img {
    width: 64px;
    border-radius: 32px;
    margin-left: 32px;
}

.welcome-right {
    margin-top: 24px;
}

.welcome-user .username, .welcome-note{
    margin-left: 16px;
}

.head-buttons {
    margin-right: 36px;
}

.head-buttons button {
    margin-left: 12px;
    width: 84px;
    text-align: center;
    height: 32px;
    border: none;
    border-radius: 16px;
    background-color: rgb(228, 191, 123);
}

main .cards {
    grid-area: 1 / 1 / 1 / 2;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem 1rem;
}

.cards > div {
    background-color: white;
    border-radius: 15px;
    border-left: 15px solid rgb(255, 166, 0);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    padding: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.356);
}

.cards > h4 {
    margin: 0;
    grid-column: 1 / -1;
    margin-bottom: -1.5rem;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
}

.card-buttons > * {
    padding: 0.25rem;
}

.info {
    grid-area: 1 / 2 / 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.info h4 {
    font-size: 1.4rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.announcement-info, .trending-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.1rem 0.1rem 0.05rem rgba(0, 0, 0, 0.356);
}

.announcement-info > div {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(182, 182, 182);
    padding-bottom: clamp(1rem, 30px, 3rem);
}

.announcement-info > div > h5 {
    padding-bottom: 1rem;
}

.announcement-info .ann3 {
    border: none;
    padding: 0;
}

.trending-info > div {
    display: flex;
    padding: 1rem 0.5rem;
}

.trending-info > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
}

.trending-info > div > img {
    border-radius: 24px;
    width: 48px;
    height: 48px;
}